<!doctype html>
<head>
	<title>AI RAG Workshop - Ask</title>
	<link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- <div id="content">
        <form action="" method="post" id="ask-form">
            <input type="text" name="question" id="question" placeholder="Enter your question?" required />
            <input type="button" value="Send" id="ask-send"/>
        </form>

        <div id="ask-output" class="output"></div>
    </div> -->

    <div class="container">
        <h2>Hokitika</h2>
        <form action="{{ url_for('submit') }}"method="post" id="persona-form">
          <label for="chosenPersona">Who am I talking to?</label>
          <select id="chosenPersona" name="chosenPersona" required>
            <option value="" disabled selected>Select a persona</option>
            <option value="junior-marketer">Junior Marketer</option>
            <option value="senior-marketer">Senior Marketer</option>
            <option value="junior-engineer">Junior Engineer</option>
            <option value="senior-engineer">Senior Engineer</option>
          </select>
    
          <input type="submit" value="Submit" id="chosenPersona">
        </form>
      </div>
    
</body>
<!-- 
<script>
    personaSend = document.getElementById("persona-send");
    personaForm = document.getElementById("persona-form");
    output = document.getElementById("ask-output");
    personaForm.onsubmit = (e) => {
        e.preventDefault()
        send_message(e.target)
    }
    personaSend.onclick = (e) => {
        e.preventDefault()
        send_message(e.target.form)
    }
    function send_message(f) {
        msg = f[0].value
        const data = {
            message: msg
        };
        f[0].value = ""

        output.innerHTML = "<div class=message>Waiting...</div>"

        // Send the POST request using fetch
        fetch("/contextless-message", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
        })
        .then((response) => response.json())
        .then((data) => {
            console.log("Success:", data)
            output.innerHTML = "<div class=message>" + data.resp + "</div>"
        })
        .catch((error) => {
            console.error("Error:", error)
            output.value = "<div class=message>Sorry, there was an error. Please refresh and try again.</div>"
        });
    }

</script> -->

